.section-main {
  padding-top: 40px;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  max-height: 700px;
}
.section-main:after, .section-main:before {
  height: 764px;
  width: 1363px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.section-main:after {
  background: url(../images/snow.gif) no-repeat center/cover;
  opacity: 0.2;
}
.section-main:before {
  background: url(../images/bg.png) no-repeat center/cover;
}
.section-dual {
  margin-top: 54px;
}
.section-about {
  margin-top: 90px;
}

.header {
  align-items: center;
}
.header-menu {
  align-items: center;
}
.header-menu__button {
  width: 25px;
  height: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: width 0.25s;
}
.header-menu__button span {
  width: 25px;
  height: 2px;
  background: white;
  position: relative;
  display: block;
}
.header-menu__button span::after, .header-menu__button span::before {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background: white;
  position: absolute;
  transition: width 0.25s;
}
.header-menu__button span:after {
  top: 5px;
}
.header-menu__button span::before {
  width: 25px;
  top: 10px;
}
.header-menu__list {
  margin-left: 50px;
  z-index: -1;
}
.header-menu__list ul {
  column-gap: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  transform: translate(-200px);
  opacity: 0;
}
.header-menu__link {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.25s;
}
.header-menu__link:hover {
  color: #8856D9;
}
.header-menu__link.lang {
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.header-menu__link.lang:hover .header-menu__languages {
  display: block;
}
.header-menu__link.lang svg {
  width: 12px;
  height: 12px;
  fill: white;
  transform: rotate(180deg);
  margin-left: 9px;
}
.header-menu__languages {
  padding: 10px 15px;
  border-radius: 6px;
  background: #30373F;
  position: absolute;
  top: 100%;
  display: none;
}
.header-menu__language {
  font-weight: 500;
  cursor: pointer;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.25s;
}
.header-menu__language:hover {
  color: #8856D9;
}
.header.opened .header-menu__button span {
  width: 12px;
}
.header.opened .header-menu__button span::after {
  width: 25px;
}
.header.opened .header-menu__button span::before {
  width: 12px;
}
.header.opened .header-menu__list {
  z-index: 1;
}
.header.opened .header-menu__list ul {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.2s, transform 0.25s;
}
.header-timer {
  margin-left: auto;
  column-gap: 19px;
}
.header-timer span {
  font-weight: 400;
  line-height: 19px;
  color: #8C96A0;
}
.header-timer__values {
  column-gap: 10px;
}
.header-timer__item {
  color: #A9C7C7;
}
.header-timer__item-value {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  min-width: 55px;
  text-align: center;
}
.header-timer__item-info {
  text-align: center;
  font-weight: 400;
}

.description {
  margin-top: 7%;
  max-width: 540px;
  animation: move 1s ease-in-out;
}
.description-title h1 {
  font-weight: 600;
  font-size: 100px;
  line-height: 100px;
}
.description-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #A9C7C7;
  margin-top: 26px;
}
.description-button {
  background: #8856D9;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: white;
  display: flex;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.25s;
  margin-right: 36px;
}
.description-button:hover {
  background: #9468da;
}
.description-button:active {
  background: #6039a0;
}

.editions-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  column-gap: 16px;
  justify-content: center;
}
.editions-item {
  background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
  border-radius: 6px;
  padding: 17px;
  transition: transform 0.25s ease-in-out;
  transform: translateX(0);
}
.editions-item__img {
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 172px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.editions-item__title {
  margin-top: 20px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}
.editions-item__subtitle {
  color: #A9C7C7;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  margin: 10px 0 32px 0;
}
.editions-item__description {
  color: #8C96A0;
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.editions-item__price {
  font-weight: 700;
  line-height: 23px;
  font-size: 19px;
  color: white;
  margin: 6px 0 14px 0;
  text-align: right;
}
.editions-item__btn {
  background: #8856D9;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: white;
  display: flex;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.25s;
  padding: 8px 18px;
  font-size: 13px;
  line-height: 15px;
  margin-left: auto;
}
.editions-item__btn:hover {
  background: #9468da;
}
.editions-item__btn:active {
  background: #6039a0;
}

.dual {
  column-gap: 5%;
  margin-top: 20px;
  transition: column-gap 0.5s;
}
.dual-description {
  max-width: 410px;
}
.dual-description p {
  color: #A9C7C7;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 22px;
}
.dual-description p span {
  font-weight: 700;
}
.dual-description__info {
  margin-top: 19px;
  justify-content: space-between;
  align-items: center;
}
.dual-description__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.dual-description__button {
  background: #FF4136;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: white;
  display: flex;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.25s;
  padding: 14px 19px;
  font-weight: 500;
}
.dual-description__button:hover {
  background: #f8625a;
}
.dual-description__button:active {
  background: #a4221c;
}
.dual-img {
  max-width: 50%;
  position: relative;
}
.dual-img img {
  max-width: fit-content;
  animation: gravitation 1.5s linear infinite alternate;
}
.dual-img::before {
  content: "";
  display: block;
  width: 194px;
  height: 119px;
  background: rgba(79, 96, 152, 0.8);
  filter: blur(75px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  position: relative;
  margin-top: 32px;
  transition: transform 0.5s;
  transform: scale(1);
}
.video video {
  width: 100%;
  height: auto;
}
.video-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
.video-info.hidden {
  opacity: 0;
}
.video-info.hidden:hover {
  opacity: 1;
}
.video-title {
  font-weight: 500;
  font-size: 50px;
  color: white;
  line-height: 39px;
}
.video-btn {
  background: #30373F;
  border-radius: 6px;
  padding: 9px 26px;
  font-weight: 500;
  line-height: 16px;
  color: white;
  display: inline-block;
  cursor: pointer;
  margin: 28px auto 0 auto;
  transition: background 0.25s;
  text-transform: uppercase;
}
.video-btn:hover {
  background: #525c67;
}

@keyframes gravitation {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes move {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*# sourceMappingURL=style.css.map */
